#title{
  font-size: 30px;
  margin-bottom: 10px;
}

#contents{
  display: flex;
  flex-direction: row;
}

#ui{
  margin-right: auto;
  width: 250px;
}

#graph{
  /* margin-left: auto; */
  margin-right: auto; 
  width: 500px;
}

#result{
  background-color: antiquewhite;
}